body {
    font-family: Arial, sans-serif;
    background-color: #fce4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.notification {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #8e8c8c;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
}

.notification h2 {
    margin-top: 0;
    color: #595a5c;
}

.notification p {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
}

.notification button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.notification button:hover {
    background-color: #740202;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -30%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -20%);
    }
}
